<a href="https://colab.research.google.com/github/dudagoisclaret08/-Exerc-cio-1-Gr-fico-de-Temperaturas-Mensais/blob/main/Damos_lhe_as_boas_vindas_ao_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import pandas as pd
df = pd.read_csv('empresa.csv')
# df.head(10) ########nao esqueser ()
# df.tail(15)
# df.columns #### nomes colunas colocar df
# df.info
# df.describe
# df[df['nome'] == 'Carlos'] ### 2df para 2 funçoes, loc entra aqui; o 1 seleciona coluna
# df[df['setor']== 'TI']
# df[df['salario']>4000]
# df['salario']
# df.sort_values('salario')
# df.sort_values('salario', ascending= False ) #####decrescente
#df['setor'].value_counts()
# df.groupby('setor')['salario'].mean()
# df.groupby('setor')['salario'].max()
# df.groupby('setor')['salario'].min()
# df[df['tempo_empresa_anos']>3]
# df[df['cidade']== 'São Paulo']
# df.groupby('setor')['salario'].mean()
# for i in df['nome']:
#    if i [0]=='J':
#     print(i)
### 20 fazer

setor
Financeiro    10
RH            10
TI            10
Marketing     10
Vendas        10
Name: count, dtype: int64